.search-bar {
  margin-top: 32px;
  margin-bottom: 32px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  height: 200px;
  width: 250px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.loading-blur {
  opacity: 0.5;
  pointer-events: none;
}

.screen-center {
  position: absolute !important;
  top: 36%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
