#wrapper {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
  }
  .admin-main {
    //min-height: 100vh;
    h2 {
      border-bottom: none;
    }
    .newsletter {
      margin: 0 auto;
      float: none;
    }
    .container {
      .btn-ctn {
        background-color: #D2524E;
        color: #ffffff;
      }
      .product-item.large {
        margin: 0 -4px 60px 0;
      }
      .pagination-row {
        text-align: center;
      }
      .concept {
        li span.value span:before,
        li span.value a:before {
          display: none;
        }
        li.active span.value span {
          background: #3c7fa5;
          //background: #4ae64c;
        }
        li.inactive span.value span {
          background: #D2524E;
        }
      }
      .table {
        .table-input {
          display: inline-block;
          width: 50%;
          margin: 0 10px 0 0;
        }
        a {
          i {
            color: #4ae64c;
          }
          &:hover {
            cursor: pointer;
          }
          margin-right: 5px;
        }
      }
      .sideblock.third {
        h2 + .color-box {
          margin-left: 10px;
          display: inline-block;
          width: 20px;
          height: 20px;
        }
        select + .has-error {
          margin-top: 10px;
          display: inline-block;
        }
        margin-right: 15px;
        width: calc(33% - 15px);
        display: inline-block;
        vertical-align: top;
      }
      .sideblock.two-third {
        margin-right: 15px;
        width: calc(70% - 15px);
        display: inline-block;
        vertical-align: top;
        .input-inline {
          display: inline-block;
          width: 80%;
          & + .btn {
            margin-top: 9%;
          }
        }
      }
      .product-info-block {
        .product-qty {
          margin-top: 20px;
          .qty-changer input[type="number"] {
            border: 0;
            width: 50px;
            padding: 0;
            text-align: center;
            -webkit-appearance: none;
            border-radius: 0;
          }
          .qty input[type="number"] {
            background-color: transparent;
            border: 0;
            font-size: 19px;
            line-height: 22px;
            font-weight: 700;
            vertical-align: middle;
            color: #D2524E;
          }
        }
      }
      .cart-table {
        .table-row {
          border-bottom: 1px solid #e8e8e8;
          border-top: 1px solid #e8e8e8;
          margin-bottom: 7px;
        }
      }
      .color-box {
        width: 27px;
        height: 27px;
        display: block;
      }
    }
    .sidebar-wrapper {
      width: 125px;
    }
    .has-error {
      color: #D2524E;
    }
    .has-warning {
      color: #8a6d3b;
    }
  }
}

.sidebar-wrapper {
  a.active {
    background-color: #494e62;
  }
}

.sidebar-wrapper li a.active:before {
  left: 121px !important;
  border-right: 4px solid #D2524E !important;
}
