@media screen and (min-width: 992px) {
  body:not(.open-panel) {
    #wrapper {
      .admin-main {
        header .navbar .container {
          padding-left: 5%;
          padding-right: 5%;
        }
        .open-left {
          padding-left: 6%;
          .container {
            padding-left: 5%;
          }
          h2 {
            border-bottom: none;
          }
          .newsletter {
            margin: 0 auto;
            float: none;
          }
        }
        .container {
          .pagination-row {
            padding-right: 5%;
            text-align: center;
          }
        }
        .sidebar-wrapper {
          width: 125px;
        }
      }
    }
  }
}

.sidebar-wrapper {
  a.active {
    background-color: #494e62;
  }
}

.sidebar-wrapper li a.active:before {
  left: 121px !important;
  border-right: 4px solid #D2524E !important;
}

body.boxed .page-header.fullboxed {
  width: 100vw !important;
  margin-left: -50vw;
  left: 50%;
}

footer {
  padding-left: 6%;
}
